{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<div class="card">
  <div class="card-body"><!-- Начало текстового контента -->
      Этот текст расположен внутри card-body...
  </div><!-- Конец текстового контента -->
</div><!-- Конец карточки -->
	
<div class="card">
  <div class="card-body"><!-- Начало текстового контента -->
    <h4 class="card-title">Заголовок карточки</h4>
    <h6 class="card-subtitle mb-2 text-muted">Подзаголовок карточки</h6>
    <p class="card-text">Некоторый текст...</p>
    <a href="#" class="card-link">Первая ссылка</a>
    <a href="#" class="card-link">Вторая ссылка</a>
  </div><!-- Конец текстового контента -->
</div><!-- Конец карточки -->
	
<!-- Карточка с навигацией (в заголовке) -->
<div class="card">
    <!-- Шапка с навигацией -->
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#item1">Item 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#item2">Item 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" data-toggle="tab" href="#item3">Item 3</a>
            </li>
        </ul>
    </div>
    <!-- Текстовый контент -->
    <div class="card-body tab-content">
        <div class="tab-pane fade show active" id="item1">
            Некоторое содержимое для Item 1...
        </div>
        <div class="tab-pane fade" id="item2">
            Некоторое содержимое для Item 2...
        </div>
        <div class="tab-pane fade" id="item3">
            Некоторое содержимое для Item 3...
        </div>
    </div>
</div><!-- Конец карточки -->

<!--
<img src="{% static 'images/falconx.png' %}" class="img-fluid" alt="FalconX launch"/>
-->
{% endblock content %}

